db.sqlite3
.env
backend.env
.pyc
__pycache__
backend/nginx
frontend/node_modules
frontend/build/
data/
backend/staticfiles/


# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
